.morris-hover {
    position:absolute;
    z-index:1000;
}
.morris-hover.morris-default-style {
    border-radius:10px;
    padding:6px;
    color:#666;
    background:rgba(255,255,255,0.8);
    border:solid 2px rgba(230,230,230,0.8);
    font-size:12px;
    text-align:center;
}
.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight:bold;
    margin:0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point {
    white-space:nowrap;
    margin: 0.1em 0;
}

.panel-headingx{
     background-color:#FFF;
     padding: 9px 9px 1px 17px;
}

.color_1{
	background-color: #0B62A4;
	width:30px;
	height:20px;
	margin-right: 6px;
}

.color_2{
	background-color: #7A92A3;
	width:30px;
	height:20px;
	margin-right: 6px;
}

.color_3 {
    background:#9b59b6;
    width: 30px;
    height: 20px;
    margin-right: 6px;
}
.color_4 {
    background:#3498db;
    width: 30px;
    height: 20px;
    margin-right: 6px;
}
.color_5 {
    background:#5CB85C;
    width: 30px;
    height: 20px;
    margin-right: 6px;
}
.color_6 {
    background:#D9534F;
    width: 30px;
    height: 20px;
    margin-right: 6px;
}